.color-paste-container{
    position: absolute;
    z-index: 3;
   margin-left: 3vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0%;
    flex-direction: row;
    box-shadow: 1px 1px 6px rgb(5, 8, 46);
    text-shadow:1px 1px 6px rgb(5, 8, 46) ;
    width: 40vw;
    
  }


 
  .color-paste {
    position: absolute; 
    border-radius: 10px;
    position: absolute;
    width: 27vw;
    height:10vh;
    margin-top: 65vh;
    margin-left: 53vw;
    display: inline;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 6px rgb(5, 8, 46);
  text-shadow:1px 1px 6px rgb(5, 8, 46) ;
  }
  @media (max-width: 768px) {
    .color-paste {
      width: 60vw;
     
    }
  }
  .white {
   
    position: relative;
    box-shadow: 1px 1px 6px rgb(5, 8, 46);
    text-shadow:1px 1px 6px rgb(5, 8, 46) ;
    border-radius: 150%;
    width: 55px;
    height: 55px;
    margin: 3px;
    border: none;
  }

  @media (max-width: 768px) {
    .white {
     
      width: 45px;
    height: 45px;
    }
  }

  .main-hint{
    position: fixed;
   
    position: relative;
    align-content: center;
    width: 5vw;
    margin-left: 13vw;  
  }
  
  .hint{
    position: relative;
    border-radius: 150%;
    width: 25px;
    height: 25px;
    border: 2px black;
    box-shadow: 1px 1px 6px rgb(5, 8, 46);
    text-shadow:1px 1px 6px rgb(5, 8, 46) ;
    
  }
  .text-h1{  
    font-family: 'Odibee Sans', cursive;
    font-size: 1.5rem;
    /* font-weight: bold; */
    color: rgb(240, 240, 240);
  }